---
import Aside from "../components/Aside.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeroArticle from "../components/HeroArticle.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Frontend Mentor | News homepage" />
  </head>
  <body>
    <Header />
    <div class="wrapper">
      <HeroArticle />
      <Aside />
    </div>
    01 Reviving Retro PCs What happens when old PCs are given modern upgrades? 02
    Top 10 Laptops of 2022 Our best picks for various needs and budgets. 03 The Growth
    of Gaming How the pandemic has sparked fresh opportunities.
    <style scoped>
      @media screen and (min-width: 1024px) {
        .wrapper {
          display: flex;
          gap: 2rem;
        }
      }
    </style>
  </body>
</html>
