*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

html,
body {
  margin: auto;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #837d87;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn {
  text-transform: uppercase;
  padding: 11px 25px;
  border: 2px solid #fff;
  max-height: 50px;
  z-index: 99;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #2b272f;
}

.btn--dark {
  color: #2b272f;
  border: 2px solid #2b272f;
}

.btn--dark:hover {
  background-color: #2b272f;
  color: #fff;
}

.btn--header {
  padding-left: 0;
}

.btn--header:hover {
  color: #2b272f;
}

.divider {
  width: 150px;
  height: 64px;
  border-top: 1px solid #fff;
}

.divider--dark {
  border-top: 1px solid #837d87;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 165px;
  z-index: 2;
  background-color: #fff;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  z-index: 1;
}

main > * {
  padding: 0 165px;
}

.hero {
  background-color: #2d2640;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  padding-top: 105px;
  margin-bottom: 105px;
  position: relative;
}

.hero > * {
  width: 50%;
}

.hero__pattern {
  position: absolute;
}

.hero__pattern--right {
  right: 0;
  top: -78px;
  height: 580px;
}

.hero__pattern--left {
  left: 0;
  bottom: -56%;
  height: 510px;
  width: 190px;
}

.hero__left {
  margin-right: 35px;
}

.hero__right {
  text-align: right;
}

.hero__title {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.hero__text {
  margin: 28px 0;
  line-height: 1.61rem;
}

.different {
  margin-top: 305px;
  color: #2b272f;
}

.different__title {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.different__list {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.different-item {
  margin-top: 96px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.different-item__title {
  margin-top: 29px;
  font-family: "DM Serif Display", serif;
  font-size: 27px;
  font-weight: 400;
}

.different-item__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 26px;
  color: #837d87;
}

.findout {
  margin-top: 150px;
}

.findout__container {
  color: #fff;
  padding: 67px 80px;
  background-color: #2d2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findout__title {
  font-family: "DM Serif Display", serif;
  font-size: 53px;
  line-height: 4rem;
  font-weight: 400;
  max-width: 465px;
  line-height: 58px;
}

.findout__pattern {
  position: absolute;
  right: 0;
  top: 0;
}

.footer {
  margin-top: 150px;
  padding: 60px 165px;
  background-color: #fafafa;
  position: relative;
}

.footer__pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer__header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 27px;
  padding-top: 5px;
}

.footer__links {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #837d87;
  padding-top: 50px;
}

.social__icon {
  margin-left: 12px;
}

.social__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__link:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(13%) sepia(13%) saturate(496%) hue-rotate(210deg) brightness(95%) contrast(88%);
          filter: brightness(0) saturate(100%) invert(13%) sepia(13%) saturate(496%) hue-rotate(210deg) brightness(95%) contrast(88%);
}

.link-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-size: 13px;
}

.link-card__title {
  font-size: inherit;
  margin-bottom: 36px;
}

.link-card__list {
  color: #2b272f;
  font-weight: 700;
}

.link-card__item {
  margin-top: 16px;
}

.link-card__item:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */