@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

// font-family: 'Big Shoulders Display', cursive;
// font-family: 'Lexend Deca', sans-serif;

// Variables

// Colors

// Primary

$color-primary-Bright-orange: hsl(31, 77%, 52%);
$color-primary-Dark-cyan: hsl(184, 100%, 22%);
$color-primary-Very-dark-cyan: hsl(179, 100%, 13%);

// Neutral

$color-neutral-Transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
$color-neutral-Very-light-gray: hsl(
  0,
  0%,
  95%
); // background, headings, buttons

// Typography
$font-size-default: 15px;
$font-weight-default: 400;
$font-family-default: 'Lexend Deca', sans-serif;

// Base

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  color: $color-neutral-Transparent-white;
  background-color: $color-neutral-Very-light-gray;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  @media screen and (max-width: 768px) {
    height: unset;
    padding: 88px 0;
  }
}

// Components
.card {
  display: flex;
  margin: auto;
  margin-top: 21.25vh;
  width: 921px;
  height: 500px;
  border-radius: 7px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 87%;
    height: unset;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  @media screen and (max-width: 768px) {
    height: 442px;
    flex: unset;
  }
  &__title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.6em;
    color: $color-neutral-Very-light-gray;
    text-transform: uppercase;
    padding-bottom: 26px;
  }
  &__text {
    line-height: 1.7em;
    padding-bottom: 46px;
    @media screen and (max-width: 768px) {
      padding-bottom: unset;
    }
  }
  &--sedans {
    background-color: $color-primary-Bright-orange;
  }
  &--suvs {
    background-color: $color-primary-Dark-cyan;
  }
  &--luxury {
    background-color: $color-primary-Very-dark-cyan;
  }
}

.button {
  position: relative;
  padding: 14.5px 31.6px;
  font-size: 1em;
  background: none;
  outline: none;
  color: black;
  border-radius: 30px;
  mix-blend-mode: screen;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-neutral-Very-light-gray;
    border-radius: 30px;
    content: '';
    mix-blend-mode: color-burn;
  }
  &:hover {
    padding: 12.5px 29.6px;
    background: black;
    color: unset;
    border: 2px solid $color-neutral-Transparent-white;
    &::before {
      color: $color-neutral-Very-light-gray;
      border: 2px solid $color-neutral-Very-light-gray;
    }
  }
}