@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

// font-family: 'Inter', sans-serif;

// Variables

// Colors

// Primary
$color-primary-Dark-Blue: hsl(240, 38%, 20%);
$color-primary-Grayish-Blue: hsl(240, 18%, 77%);

// Typography
$font-size-default: 32px;
$font-weight-default: 300;
$font-family-default: "Inter", sans-serif;

// Base

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  color: $color-primary-Dark-Blue;
  position: relative;
  height: 100%;
  overflow: hidden;
}

// Components
main {
  background-image: url(../images/pattern-curve.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% 155px;
  height: 100%;

  @media screen and (max-width: 425px) {
    background-size: 75% 10.7vh;
  }
}

.slide {
  width: 100%;
  margin: auto;

  @media screen and (max-width: 425px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100%;
  }
}

.content {
  position: relative;
  z-index: 20;
  background-image: url(../images/pattern-quotes.svg);
  background-position: top 0 left 95px;
  background-repeat: no-repeat;
  width: 45%;
  padding-top: 8.25vh;
  margin-top: 26.75vh;
  margin-left: 11.45%;

  @media screen and (max-width: 1024px) {
    font-size: 24px;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }

  @media screen and (max-width: 425px) {
    width: unset;
    height: unset;
    padding-top: 28px;
    margin-top: unset;
    margin-left: unset;
    font-size: 18px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    background-position: top 0 left 50%;
    background-size: 60px 50px;
  }

  &__quote {
    line-height: 1.37em;
    padding-bottom: 37px;

    @media screen and (max-width: 425px) {
      padding-bottom: 11px;
    }
  }

  &__developper {
    display: flex;
    gap: 8px;
    font-size: 0.64em;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      font-size: 0.84em;
      gap: 2px;
    }
  }

  &__name {
    font-weight: 700;
    color: $color-primary-Dark-Blue;
  }

  &__job {
    font-weight: 500;
    color: $color-primary-Grayish-Blue;
  }
}

.illustration {
  position: absolute;
  right: 6%;
  top: 7.875vh;
  width: 48.6%;
  height: 82.125vh;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 425px) {
    position: relative;
    right: unset;
    top: unset;
    width: unset;
    height: 46vh;
  }

  &__image {
    position: relative;
    width: 77%;

    & img {
      box-shadow: 0px 25px 37px -30px $color-primary-Dark-Blue;
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin: auto;
    }
  }

  &__slider {
    z-index: 99;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 62px;
    width: 112px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 425px) {
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      width: 80px;
      height: 40px;
    }
  }
}
